/************  Header start  ***********/
.header_bottom {
  .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
    @include screen-1199 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
.ht_follow {
  .line {
    width: 65px;
    height: 1px;
    margin: 0 15px;
  }
}
.ht_social {
  li {
    a {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      display: inline-flex;
      background: var(--light_dark);
      color: var(--white);
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      transition: var(--transition);
      &:hover {
        color: var(--orange);
      }
      &:hover::before {
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
        opacity: 1;
      }
      &::before {
        left: 50%;
        top: 50%;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--white);
        border-radius: 50%;
        transition: var(--transition);
        transform: translate(-50%, -50%) scale(0.5);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
      }
    }
  }
}

.main_menu {
  ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    li {
      &:hover > {
        ul {
          visibility: visible;
          opacity: 1;
          top: 100%;
        }
        a {
          color: var(--orange);
        }
      }
      &.active > {
        a {
          color: var(--orange);
        }
      }
      a {
        color: var(--dark);
        display: inline-block;
        padding: 37px 0;
        transition: var(--transition);
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        font-weight: 600;
        i {
          display: inline-block;
          margin-top: 6px;
          font-size: 13px;
        }
      }
      ul {
        background: var(--white);
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
        top: 110%;
        left: 0;
        width: 230px;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        z-index: 2;
        li {
          width: 100%;
          &:hover {
            a {
              padding-left: 5px;
            }
          }
          a {
            padding: 0;
            padding-bottom: 7px;
            transition: var(--transition);
          }
          & + li {
            border-color: #e3e3e3 !important;
            a {
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
}

.header_contact {
  .default-btn {
    padding: 16px 32px;
  }
  .header_toggle_btn {
    span {
      background: var(--dark);
      height: 1px;
      width: 25px;
    }
  }
  .header_search {
    border: 1px solid var(--light_text);
    padding: 13px 9px;
    border-radius: 5px;
    .search-btn {
      color: var(--white);
      transition: var(--transition);
      &:hover {
        color: var(--secondary-color);
      }
    }
    .search-form {
      min-width: 320px;
      padding: 0 12px;
      input {
        border: 1px solid var(--gray);
        width: 100%;
        outline: 0;
        padding: 14px 24px;
        font-weight: 300;
      }
      .submit-btn {
        width: 55px;
        height: 53px;
        background-color: var(--dark);
        color: var(--white);
        flex-shrink: 0;
        transition: var(--transition);
        &:hover {
          background-color: var(--orange);
        }
      }
    }
  }
}

.mobile_menu_bar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
// banner image topltip
.banner_right {
  .signal1 {
    right: calc(0% + 20%);
    top: 20px;
    @include screen-575 {
      display: none;
    }
    &:hover {
      .round {
        background: var(--orange);
      }
      .sig_content {
        visibility: visible;
        opacity: 1;
      }
    }
    .round {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: white;
      display: inline-block;
      border: 6px solid var(--dark);
      outline: 2px solid white;
      cursor: pointer;
      transition: var(--transition);
      animation: ani_round 2s infinite;
    }
    .sig_content {
      position: absolute;
      top: 150%;
      width: max-content;
      padding: 15px 30px;
      border-radius: 8px;
      gap: 15px;
      left: 50%;
      transform: translateX(-50%);
      transition: var(--transition);
      visibility: hidden;
      opacity: 0;
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: white;
        top: -7px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }
    }
    &.signal2 {
      top: inherit;
      bottom: 20%;
      right: 16%;
      .round {
        border-color: #a79b88;
      }
    }

    &.signal3 {
      top: 46%;
      bottom: inherit;
      right: inherit;
      left: 27%;
      transform: translateY(-50%);
      .round {
        border-color: #8a8f97;
      }
    }
  }
}

@keyframes ani_round {
  0% {
    box-shadow: 0 0 0 0 white;
  }

  50% {
    box-shadow: 0 0 0 20px rgba(1, 93, 199, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(1, 93, 199, 0);
  }
}
/************  Header end  ***********/

/* for sticky header */
.fixed_menu {
  animation: sticky 1s;
  transition: 0.2s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 77;
  left: 50%;
  transform: translateX(-50%);
}

@-webkit-keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

/* for sticky header */
