body {
  margin: 0;
  font-family: var(--inter);
}

.container-fluid {
  width: 1600px;
  margin: auto;
  max-width: 100%;
}

input {
  outline: none;
  &:focus-visible {
    outline: 1px solid var(--light_text);
  }
}

select {
  outline: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  transition: all 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

img {
  max-width: 100%;
}

/*

<div class="row justify-content-center mb-5">
                    <div class="col-lg-7 col-md-9 col-12">
                        <div class="common_heading text-center">
                            <h6 class="muddy fsb text-uppercase mb-3">TOP FEATURES</h6>
                            <h3 class="f-52 fb dark">What <span class="italic orange">Services</span> Provde </h3>
                        </div>
                    </div>
                </div>



<a href="#" class="default-btn1">Download CV <i class="fa-solid fa-arrow-up-long"></i>
                                    <span></span>
                                </a>




*/
