@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --inter: "Inter", sans-serif;
  --play: "Playfair Display", serif;
  --dark: #000;
  --light_dark: #151515;
  --orange: #fb4834;
  --muddy: #f38704;
  --text: #343434;
  --light_text: #bdbdbd;
  --offwhite: #fbecd7;
  --gray: #eaeaea;
  --white: white;
  --transition: 0.3s all linear;
  --get: #080808;
}
