.blog_single {
  &:hover {
    h4 {
      span {
        background-size: 100% 100%;
      }
    }
  }
  p.mb-4 {
    border: 1px solid var(--dark);
    border-radius: 25px;
    display: inline-block;
    padding: 4px 20px;
  }
  h4 {
    span {
      width: calc(100%);
      background-image: linear-gradient(
        transparent calc(100% - 2px),
        black 2px
      );
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 1s;
    }
  }
}

.blog_pagi {
  background: #ffffff87;
  li {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--dark);
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    transition: var(--transition);
    &:hover {
      background: var(--orange);
    }
    &.active {
      background: var(--orange);
    }
  }
}

/********* blog standard page **********/
.bsblog_left {
  ul.p {
    li {
      & + li {
        margin-top: 30px;
      }
      .default-btn1 {
        padding: 15px 35px;
        background-color: var(--dark);
        color: var(--white);
        span {
          background-color: var(--orange);
        }
        &:hover {
          color: var(--white);
        }
      }
      h4 {
        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

.bsr_post {
  form {
    display: flex;
    align-items: center;
    input {
      width: 100%;
      padding: 18px;
      border: none;
      background: #f9f9f9;
      border: 1px solid var(--light_text);
      border-right: 0;
      border-radius: 10px 0 0 10px;
    }
    button {
      transition: var(--transition);
      width: 65px;
      height: 62px;
      border-radius: 0px 10px 10px 0;
      background: var(--orange);
      border: none;
      &:hover {
        background: var(--dark);
      }
      i {
        color: var(--white);
      }
    }
  }
  ul.c {
    li {
      & + li {
        padding-top: 25px;
      }
      &:hover {
        a {
          align-items: center;
          h6 {
            color: var(--orange);
          }
          span {
            background: var(--orange);
          }
        }
      }
      a {
        span {
          width: 23px;
          height: 23px;
          background: var(--muddy);
          color: white;
        }
      }
    }
  }
  ul.rp {
    li {
      &:hover {
        .rp_content {
          h6 {
            color: var(--orange);
          }
        }
      }
      & + li {
        margin-top: 25px;
      }
    }
  }
  ul.t {
    li {
      display: inline-block;
      border: 1px solid var(--light_text);
      border-radius: 5px;
      padding: 5px 15px;
      margin-bottom: 15px;
      margin-left: 12px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background-color: var(--orange);
        border: 1px solid transparent;
        color: white;
      }
    }
  }
}

/********* blog details page **********/
.quote {
  box-shadow: -8px 8px 0px var(--orange);
  h6 {
    span {
      width: 34px;
      height: 3px;
      margin-right: 10px;
    }
  }
}

.bs_list {
  li {
    p {
      img {
        display: inline-block;
        margin-right: 7px;
      }
    }
    & + li {
      margin-top: 20px;
    }
  }
}

.post {
  h6 {
    font-size: 20px;
  }
  ul {
    li {
      display: inline-block;
      background: white;
      color: var(--text);
      border-radius: 5px;
      padding: 8px 25px;
      font-weight: 500;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}

.share {
  h6 {
    font-size: 20px;
  }
  ul {
    li {
      &:hover {
        a {
          color: var(--orange);
        }
      }
      a {
        color: var(--dark);
        transition: var(--transition);
      }
    }
  }
}

.b_contact {
  padding: 30px;
  form {
    input {
      padding: 15px 35px;
      background: transparent;
      border: 1px solid var(--light_text) !important;
    }
    textarea {
      background: transparent;
      border: 1px solid var(--light_text) !important;
    }
    button {
      width: 226px;
    }
  }
}
