.f_contact {
  padding: 30px;
  border-radius: 5px;
  background: var(--dark);
  p {
    margin-bottom: 12px;
    color: var(--light_text);
  }
  a {
    &:hover {
      h6 {
        color: var(--orange);
      }
    }
    h6 {
      color: white;
      transition: var(--transition);
    }
  }
  ul {
    gap: 15px;
    margin-top: 8px;
    li {
      a {
        color: white;
        transition: var(transition);
        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}
