/***** Banner part ******/
.hire_downlaod {
  .white.fsb {
    transition: var(--transition);
    &:hover {
      color: var(--orange);
    }
    span {
      width: 45px;
      height: 60px;
      border-radius: 6px;
      background: white;
      display: inline-block;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--dark);
      margin-right: 10px;
      font-weight: 600;
      font-size: 18px;
      i {
        animation: 1s hire infinite;
      }
    }
  }
  .default-btn1 {
    padding: 18px 36px;
  }
}

/***** service part ******/
.do_name {
  &:hover {
    h4 {
      color: var(--orange);
    }
  }
  h4 {
    transition: var(--transition);
  }
}
.do_list {
  li {
    color: var(--dark);
    font-size: 15px;
  }
}

.quickview {
  text-align: end;
  cursor: pointer;
  span {
    color: var(--dark);
    transform: rotate(45deg);
    transition: var(--transition);
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
  }

  &:hover {
    span {
      color: var(--orange);
    }
  }
  a {
    position: absolute;
    opacity: 0;
    display: block;
  }
}

/***** portfolio part ******/
.portfolio_item {
  &:hover {
    .por_img {
      span {
        visibility: visible;
        opacity: 1;
        width: 60px;
        height: 60px;
      }
    }
    .por_content {
      h4 {
        color: var(--orange);
      }
    }
  }
}
.por_img {
  span {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    right: 30px;
    bottom: 30px;
    font-size: 20px;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    &:hover {
      i {
        color: var(--orange);
        animation: 0.4s toTopFromBottom1 forwards;
      }
    }
    i {
      transform: rotate(45deg);
    }
  }
}

/***** skill part ******/
.skill_item {
  .nav-tabs {
    justify-content: space-between;
    padding: 20px;
    box-shadow: 1px 15px 20px #0000002e;
    border-radius: 10px;
    border-bottom: 0;
    @media (max-width: 992px) {
      justify-content: center;
    }

    .nav-link {
      font-size: 20px;
      font-weight: 600;
      color: var(--dark);
      border-radius: 7px;
      border: 1px solid #ffffff96;
      padding: 18px 75px;
      @media (max-width: 1399px) {
        padding: 15px 50px;
      }
      @media (max-width: 1199px) {
        padding: 10px 30px;
      }
      @media (max-width: 992px) {
        margin-bottom: 10px;
      }
      &.active {
        background: var(--orange);
        color: var(--white);
        border: 1px solid transparent;
      }
      &:hover {
        background: var(--orange);
        color: var(--white);
        border: 1px solid transparent;
      }
    }
  }
}

.progress_content {
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  h4 {
    flex-shrink: 0;
  }
  &:hover {
    .progress_number {
      background: var(--orange);
      outline-color: var(--orange);
    }
  }
  .p_content_left {
    background: var(--offwhite);
    padding: 25px 20px;
    border-radius: 8px;
    transition: var(--transition);
    position: relative;
    padding-right: 25px;
    padding-left: 30px;
    box-shadow: 8px 12px 30px #00000026;
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background: var(--offwhite);
      right: -19px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      transition: var(--transition);
      @media (max-width: 1399px) {
        width: 20px;
        height: 20px;
        left: -8px;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
    h5 {
      margin-bottom: 8px;
      font-weight: 700;
      transition: var(--transition);
    }
    p {
      color: var(--dark);
      transition: var(--transition);
    }
  }
  .progress_number {
    width: 15px;
    height: 15px;
    background: var(--dark);
    border-radius: 50%;
    flex-shrink: 0;
    transition: var(--transition);
    border: 3px solid var(--offwhite);
    outline: 1px solid var(--dark);
    display: inline-block;
  }
}

.what_progress {
  position: relative;
  z-index: 1;
  .pro_line {
    position: absolute;
    width: 2px;
    height: 100%;
    border-left: 2px dashed var(--dark);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  ul {
  }
  li {
    & + li {
      margin-top: 30px;
    }
  }
}

.p_content_right {
  box-shadow: -9px 12px 30px #00000026 !important;
  &::after {
    right: inherit;
    left: -19px;
  }
}

/***** Testimonial part ******/

/***** clients part ******/
.brand_slider {
  .slick-track {
    display: flex;
    align-items: center;
    .slick-slide {
      border: 1px solid #80808038;
      border-radius: 9px;
      height: 150px;
      line-height: 150px;
      img {
        margin: auto;
      }
    }
  }
}

.ur-brand-single {
  text-align: center;
  &:hover img {
    animation: 0.4s toTopFromBottom forwards;
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}
.brand_slider_wrap {
  margin-top: 55px;
  border-top: 1px solid #80808038;
  border-bottom: 1px solid #80808038;
}

/***** pricing plan part ******/
.price_single {
  border: 1px solid #ffffff7a;
  padding: 40px 45px;
  box-shadow: 0px 10px 20px #7676764a;
  @include screen-768 {
    padding: 30px;
  }
  &:hover {
    .popu {
      visibility: visible;
      opacity: 1;
      height: 30px;
    }
  }
  .popu {
    right: 0;
    top: 0;
    width: 96px;
    height: 0px;
    background: var(--orange);
    color: var(--white);
    border-radius: 0px 14px 0px 0px;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }
  a {
    padding: 15px 0;
    &:hover {
      color: var(--white);
    }
    span {
      background-color: var(--dark);
    }
  }
  ul {
    li {
      p {
        display: inline-flex;
        align-items: center;
        gap: 7px;
        i {
          font-size: 10px;
        }
      }
      & + li {
        margin-top: 15px;
      }
    }
  }
}

/***** blog part ******/
.blog_left {
  h4 {
    &:hover {
      color: var(--orange);
    }
  }
}
.blog_img {
  &:hover {
    span {
      visibility: visible;
      opacity: 1;
      width: 60px;
      height: 60px;
    }
  }
  span {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    font-size: 20px;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    &:hover {
      i {
        animation: 0.4s toTopFromBottom1 forwards;
      }
    }
    i {
      transform: rotate(45deg);
    }
  }
}
/*********************************************************************************************************************************************************************************************************/

/***** education experience part ******/
.edu_ex_content {
  h2 {
    margin-bottom: 40px;
    img {
      display: inline-block;
      margin-right: 10px;
    }
  }
  ul {
    li {
      border-radius: 8px;
      padding: 28px;
      justify-content: space-between;
      @media (max-width: 487px) {
        padding-right: 10px;
        padding-left: 20px;
      }
      @media (max-width: 400px) {
        flex-direction: column;
        gap: 20px;
        .year {
          text-align: center;
        }
        .content {
          text-align: center;
        }
      }
      & + li {
        margin-top: 25px;
      }
      .year {
        font-weight: 600;
        color: var(--muddy);
        width: 135px;
      }
      .content {
        width: 285px;
      }
    }
  }
}

/***** expertise skill part ******/
.skill_area {
  justify-content: center;
  li {
    width: 345px;
    height: 345px;
    border-radius: 50%;
    border: 1px solid var(--border);
    align-items: center;
    position: relative;
    z-index: 1;
    @include screen-768 {
      width: 270px;
      height: 270px;
    }
    &:hover::before {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0.7);
      width: 83%;
      height: 83%;
      background: var(--light-dark);
      border-radius: 50%;
      z-index: -1;
      transition: var(--transition);
      visibility: hidden;
      opacity: 0;
    }
    & + li {
      margin-left: -30px;
      @include screen-1400 {
        &:nth-child(4) {
          margin-top: -30px;
        }
      }
      @include screen-1199 {
        &:nth-child(3) {
          margin-top: -30px;
        }
      }
      @include screen-575 {
        margin-left: 0;
        &:nth-child(3) {
          margin-top: 0px;
        }
        &:nth-child(4) {
          margin-top: 0px;
        }
      }
    }
  }
}
/***** our award part ******/
.view {
  overflow: hidden;
  &:hover {
    p {
      color: white;
    }
    span {
      transform: translate(14px, 3px);
    }
  }
  p {
    font-size: 20px;
    transition: var(--transition);
    margin-right: 20px;
    background: var(--light-dark);
    position: relative;
    z-index: 2;
  }
  span {
    right: 0;
    transform: translate(-4px, 3px);
    z-index: 1;
    transition: var(--transition);
  }
}

.award_content {
  overflow-x: auto;
  table {
    tr {
      border-bottom: 1px solid var(--border);
      td {
        padding: 35px 0;
        @media (max-width: 500px) {
          padding: 35px 20px;
        }
        font-weight: 600;
      }
    }
  }
}

/***** portfolio part ******/
.portfolio_button {
  width: 700px;
  border-radius: 10px;
  margin: auto;
  max-width: 100%;
  padding: 10px;
  text-align: center;
  button {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 26px;
    border-radius: 7px;
    transition: var(--transition);
    & + button {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background: var(--border);
        left: 0;
        top: 0;
        @include screen-768 {
          display: none;
        }
      }
    }
    &:hover {
      color: var(--dark);
      background: var(--muddy);
    }
    &.active {
      color: var(--dark);
      background: var(--muddy);
    }
  }
}

.portfolio_item {
  .portfolio_single {
    padding: 20px;
    border-radius: 5px;
    &:hover {
      .p_content {
        visibility: visible;
        opacity: 1;
        left: 50px;
        bottom: 50px;
      }
    }
    .p_content {
      left: 20px;
      bottom: 20px;
      width: 310px;
      max-width: 100%;
      transition: var(--transition);
      visibility: hidden;
      opacity: 0;
      p {
        color: var(--dark);
        background: white;
        display: inline-block;
        padding: 5px 8px;
        margin-bottom: 5px;
      }
      h4 {
        color: var(--dark);
        background: white;
        display: inline-block;
        padding: 5px 8px;
      }
    }
  }
}

.portfolio_btn {
  padding: 18px 45px;
}

/***** brand part ******/

/***** testimonial part ******/
.testi_area {
  padding: 60px;
  padding-left: 80px;
  border-radius: 15px;
  @include screen-768 {
    padding: 40px;
    padding-left: 60px;
  }
  .shape1 {
    top: -0%;
    left: -8%;
    animation: move 6s infinite linear;
    @include screen-992 {
      display: none;
    }
  }
  .testi_wrap {
    .testi_item {
      gap: 45px;
      align-items: flex-end;
      .testi_img {
        border-radius: 115px 115px 0px 0px;
        overflow: hidden;
      }
      @include screen-768 {
        flex-direction: column;
        align-items: flex-start;
      }
      .testi_content {
        span {
          color: #ffa311;
        }
        h6 {
          margin: 40px 0;
        }
        h5 {
          margin-bottom: 20px;
        }
        p {
        }
      }
    }
  }
}

.testi_wrap .slick-dots {
  position: absolute;
  right: 0px;
  padding: 15px 12px;
  bottom: 0px;
  display: flex;
  gap: 15px;
  @include screen-400 {
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    right: inherit;
  }
}

.testi_wrap .slick-dots li {
  text-align: center;
  display: block;
}
.testi_wrap .slick-dots li.slick-active span {
  background: var(--muddy);
  outline: 1px solid var(--muddy);
}

.testi_wrap .slick-dots li span {
  margin: 3px 0;
  border: 6px solid var(--dark);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  outline: 1px solid white;
  background: white;
}

/***** Blog part ******/
.blog_item {
  border-radius: 10px;
  &:hover {
    .blog_content {
      .b_content {
        h5 {
          color: var(--muddy);
        }
        .read_wrap {
          .read {
            transform: translateX(0);
            .angle1 {
              visibility: hidden;
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .blog_img {
    border-radius: 10px 10px 0px 0px;
    img {
      border-radius: 10px 10px 0px 0px;
    }
  }
  .blog_content {
    padding: 10px;
    padding-bottom: 145px;
    .b_content {
      padding: 25px;
      border-radius: 10px;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 96%;

      .date {
        border-radius: 50px;
        display: inline-block;
        padding: 2px 16px;
      }
      h5 {
        margin: 25px 0;
        transition: var(--transition);
      }
      .read_wrap {
        width: 110px;
        overflow: hidden;
        display: block;
        .read {
          display: inline-flex;
          align-items: center;
          gap: 8px;
          width: 140px;
          transform: translateX(-110px);
          transition: var(--transition);
          .angle1 {
            transition: var(--transition);
            visibility: visible;
            opacity: 1;
          }
          .angle2 {
            transition: var(--transition);
          }
        }
      }
    }
  }
}

/***** what do part ******/

.btn-close {
  right: 5px;
  top: 5px;
  background-color: white;
  border-radius: 4px;
  padding: 4px;
}

.scroll-top-btn {
  width: 45px;
  height: 50px;
  background-color: var(--muddy);
  color: var(--dark);
  border-radius: 4px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  font-size: 15px;
  font-weight: 500;
  transition: var(--transition);
  &:hover {
    transform: translateY(-5px);
    i {
      animation: 0.4s toTopFromBottom forwards;
    }
  }
}
