/***** Banner part ******/
.hire_downlaod {
  .white.fsb {
    transition: var(--transition);
    &:hover {
      color: var(--orange);
    }
    span {
      width: 45px;
      height: 60px;
      border-radius: 6px;
      background: white;
      display: inline-block;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--dark);
      margin-right: 10px;
      font-weight: 600;
      font-size: 18px;
      i {
        animation: 1s hire infinite;
      }
    }
  }
  .default-btn1 {
    padding: 18px 36px;
  }
}

/***** service part ******/
.service_item {
  cursor: pointer;
  &.active {
    .do_name {
      h4 {
        color: var(--orange);
      }
    }
  }
  &:hover {
    .do_name {
      h4 {
        color: var(--orange);
      }
    }
    .quickview {
      a {
        color: var(--orange);
      }
    }
  }
  .do_name {
    h4 {
      transition: var(--transition);
    }
  }
}

.do_list {
  li {
    color: var(--dark);
    font-size: 15px;
    border: 1px solid var(--dark);
    border-radius: 25px;
    padding: 4px 15px;
  }
}

.service_item_box {
  .service_img {
    position: absolute;
    left: 70%;
    top: 20px;
    display: none;
    border-radius: 10px;
    &.active {
      display: block;
      animation: 1s scale_fadeInUp;
      @include screen-992 {
        display: none;
      }
    }
    &.service_2 {
      top: 60px;
    }
    &.service_3 {
      top: 90px;
    }
    &.service_4 {
      top: 100px;
    }
    &.service_5 {
      top: 110px;
    }
    &.service_6 {
      top: 120px;
    }
  }
}

@keyframes scale_fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.quickview {
  text-align: end;
  cursor: pointer;
  a {
    color: var(--dark);
    transform: rotate(45deg);
    transition: var(--transition);
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
  }
}

/***** portfolio part ******/
.portfolio_item {
  &:hover {
    .por_img {
      span {
        visibility: visible;
        opacity: 1;
        width: 60px;
        height: 60px;
      }
    }
    .por_content {
      h4 {
        color: var(--orange);
      }
    }
  }
}

.por_img {
  span {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    right: 30px;
    bottom: 30px;
    font-size: 20px;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    &:hover {
      i {
        color: var(--orange);
        animation: 0.4s toTopFromBottom1 forwards;
      }
    }
    i {
      transform: rotate(45deg);
    }
  }
}

.por_content {
  div.d-flex {
    @include screen-1260 {
      flex-direction: column;
      gap: 15px;
    }
  }
  h5 {
    border: 1px solid var(--dark);
    width: 100px;
    text-align: center;
    border-radius: 51%;
    padding: 4px;
  }
}

/***** skill part ******/
.skill_item {
  .nav-tabs {
    justify-content: space-between;
    padding: 20px;
    box-shadow: 1px 15px 20px #0000002e;
    border-radius: 10px;
    border-bottom: 0;
    border: 1px solid #ffffff96;
    @media (max-width: 992px) {
      justify-content: center;
    }

    .nav-link {
      font-size: 20px;
      font-weight: 600;
      color: var(--dark);
      border-radius: 7px;
      border: 1px solid #ffffff96;
      padding: 18px 75px;
      @media (max-width: 1399px) {
        padding: 15px 50px;
      }
      @media (max-width: 1199px) {
        padding: 10px 30px;
      }
      @media (max-width: 992px) {
        margin-bottom: 10px;
      }
      &.active {
        background: var(--orange);
        color: var(--white);
        border: 1px solid transparent;
      }
      &:hover {
        background: var(--orange);
        color: var(--white);
        border: 1px solid transparent;
      }
    }
  }
}

.progress_content {
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  h4 {
    flex-shrink: 0;
  }
  &:hover {
    .progress_number {
      background: var(--orange);
      outline-color: var(--orange);
    }
  }
  .p_content_left {
    background: var(--offwhite);
    padding: 25px 20px;
    border-radius: 8px;
    transition: var(--transition);
    position: relative;
    padding-right: 25px;
    padding-left: 30px;
    box-shadow: 8px 12px 30px #00000026;
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background: var(--offwhite);
      right: -19px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      transition: var(--transition);
      @media (max-width: 1399px) {
        width: 20px;
        height: 20px;
        left: -8px;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
    h5 {
      margin-bottom: 8px;
      font-weight: 700;
      transition: var(--transition);
    }
    p {
      color: var(--dark);
      transition: var(--transition);
    }
  }
  .progress_number {
    width: 15px;
    height: 15px;
    background: var(--dark);
    border-radius: 50%;
    flex-shrink: 0;
    transition: var(--transition);
    border: 3px solid var(--offwhite);
    outline: 1px solid var(--dark);
    display: inline-block;
  }
}

.what_progress {
  position: relative;
  z-index: 1;
  .pro_line {
    position: absolute;
    width: 2px;
    height: 100%;
    border-left: 2px dashed var(--dark);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  ul {
  }
  li {
    & + li {
      margin-top: 30px;
    }
  }
}

.p_content_right {
  box-shadow: -9px 12px 30px #00000026 !important;
  &::after {
    right: inherit;
    left: -19px;
  }
}

/***** Testimonial part ******/
.blog_content_slider {
  .slick-list {
    padding: 0 !important;
    .slick-track {
      .slick-slide {
        .blog_content {
          img {
            border-radius: 50%;
            height: auto;
          }
        }
        &.slick-center {
          .blog_content {
            img {
              border: 2px solid var(--orange);
              border-radius: 50%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
.testimoni_item {
  gap: 40px !important;
  @include screen-992 {
    gap: 20px !important;
    flex-wrap: wrap;
  }
}
.testi_q {
  flex-shrink: 0;
}
.testi_content {
  h5 {
    text-align: justify;
    font-weight: 600;
    margin-bottom: 40px;
  }
}
.blog_img_slider {
  .slick-arrow {
    color: white;
    position: absolute;
    top: 12%;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--dark);
    font-size: 17px;
    transform: translateY(-50%);
    transition: var(--transition);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: var(--orange);
    }
    @include screen-992 {
      width: 50px;
      height: 50px;
      top: 50%;
    }
    @include screen-768 {
      top: 35%;
    }
    @include screen-400 {
      top: 30%;
    }
  }
  .prev-arrow {
    right: 70px;
    @include screen-992 {
      right: 55px;
    }
  }
  .next-arrow {
    right: 0px;
  }
}
.slider-paging-number {
  display: inline-flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--dark);
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  @include screen-992 {
    visibility: hidden;
    opacity: 0;
  }
  li {
    color: white;
    font-size: 30px;
    font-weight: 700;
    & + li {
      display: none;
    }
  }
}

/***** clients part ******/
.brand_slider {
  .slick-track {
    display: flex;
    align-items: center;
    .slick-slide {
      border: 1px solid #80808038;
      border-radius: 9px;
      height: 150px;
      line-height: 150px;
      img {
        margin: auto;
      }
    }
  }
}

.ur-brand-single {
  text-align: center;
  &:hover img {
    animation: 0.4s toTopFromBottom forwards;
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}
.brand_slider_wrap {
  margin-top: 55px;
  border-top: 1px solid #80808038;
  border-bottom: 1px solid #80808038;
}

/***** pricing plan part ******/
.price_single {
  border: 1px solid #ffffff7a;
  padding: 40px 45px;
  box-shadow: 0px 10px 20px #7676764a;
  @include screen-768 {
    padding: 30px;
  }

  .popu {
    right: 0;
    top: 0;
    width: 96px;
    height: 30px;
    background: var(--orange);
    color: var(--white);
    border-radius: 0px 14px 0px 0px;
    visibility: visible;
    opacity: 1;
    transition: var(--transition);
  }
  a {
    padding: 15px 0;
    &:hover {
      color: var(--white);
    }
    span {
      background-color: var(--dark);
    }
  }
  ul {
    li {
      p {
        display: inline-flex;
        align-items: center;
        gap: 7px;
        i {
          font-size: 10px;
        }
      }
      & + li {
        margin-top: 15px;
      }
    }
  }
}

/***** blog part ******/
.blog_left {
  p.ps-4 {
    display: inline-block;
    border: 1px solid var(--dark);
    border-radius: 25px;
    padding: 5px 20px !important;
  }
  h4 {
    &:hover {
      color: var(--orange);
    }
  }
}
.blog_img {
  &:hover {
    span {
      visibility: visible;
      opacity: 1;
      width: 60px;
      height: 60px;
    }
  }
  span {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    font-size: 20px;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    &:hover {
      i {
        animation: 0.4s toTopFromBottom1 forwards;
      }
    }
    i {
      transform: rotate(45deg);
    }
  }
}

/***** get in touch part ******/
.contact_box {
  padding: 65px 55px;
  @media (max-width: 1199.98px) {
    padding: 30px;
  }
  @media (max-width: 460px) {
    padding: 15px;
  }
  form {
    .text {
      padding: 20px 35px;
      border-radius: 7px;
      border: none;
      color: white;
    }
    textarea {
      border-radius: 20px;
      color: #999;
      border: none;
      padding: 30px;
      &:focus-visible {
        outline: 1px solid gray;
      }
    }
    button {
      width: 207px;
      height: 65px;
      border-radius: 6px;
    }
  }
}
