.about_project {
  p {
    text-align: justify;
  }
}

.banner_item2 {
  ul {
    li {
      &:hover {
        a {
          &::before {
            background: white;
          }
        }
      }
      a {
        border-radius: 50% !important;
        position: relative;
        background: var(--muddy);
        &::before {
          border-radius: 50% !important;
        }
      }
    }
  }
}
